@model CollectionManagerSite.Models.CompleteTypeResults
@{
    ViewBag.Title = "Guardian Outfitter | Missing Shaders, Emblems, Ships & Sparrows";
}

<div id="navigation" role="navigation" aria-label="Primary navigation" class="grid button-tabs--top">
    <!-- Start: Platform switcher-->
    <!-- Hide everything between comments when only one platform is available-->
    <!-- Need to switch `is-disabled` and `is-active` classes between buttons-->
    @if ((bool)ViewBag.DualConsole)
    {
        <div class="grid__item auto">
            <div class="button-tabs button-tabs--platform">
                <a href="?console=2" class="button button--playstation @((int)ViewBag.Console == 2? "is-active" : "is-disabled")">
                    <span class="icon icon--playstation">PlayStation</span>
                </a>
                <a href="?console=1" class="button button--xbox @((int)ViewBag.Console == 1 ? "is-active" : "is-disabled")">
                    <span class="icon icon--xbox">Xbox</span>
                </a>
            </div>
        </div>
    }
    <!-- End: Platform switch-->
    <div class="grid__item fablet-auto">
        <div id="switcher" class="button-tabs js-tab-controls"></div>
    </div>
</div>

 <!-- Start: Emblems-->
<section class="tab js-tab">
    <div class="prose">
        <h1 id="emblemH1">
            <a id="emblems" class="js-tab-heading">Emblems</a>
        </h1>
    </div>
    <div id="emblemsForSale"></div>
    <div id="emblemsMissing"></div>

    <div class="loading">
        <div class="prose">
            <h2><span>Guardian Outfitter</span></h2>
        </div>
        <div style="width: 100%; align-content: center; height: 100px;">
            <img src="~/Assets/img/meta/hourglass.svg" style="align-content: center; height: 50px; width: 100%">
            <p style="align-content: center; height: 50px; width: 100%; text-align: center;">Calculating your collection - please hold on...</p>
        </div>
    </div>
        
    <div class="advert js-advert">
        <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
    </div>
</section>    

<!-- End: Emblems-->
<!-- Start: Shaders-->
<section class="tab js-tab">
    <div class="prose">
        <h1><a id="shaders" class="js-tab-heading">Shaders</a>
        </h1>
    </div>
    <div id="shadersForSale"></div>
    <div id="shadersMissing"></div>

    <div class="loading">
        <div class="prose">
            <h2><span>Guardian Outfitter</span></h2>
        </div>
        <div style="width: 100%; align-content: center; height: 100px;">
            <img src="~/Assets/img/meta/hourglass.svg" style="align-content: center; height: 50px; width: 100%">
            <p style="align-content: center; height: 50px; width: 100%; text-align: center;">Calculating your collection - please hold on...</p>
        </div>
    </div>
        <div class="advert js-advert">
            <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
        </div>
</section>

<!-- End: Shaders-->
<!-- Start: Ships-->
<section class="tab js-tab">
    <div class="prose">
        <h1><a id="ships" class="js-tab-heading">Ships</a>
        </h1>
    </div>
    <div id="shipsForSale"></div>
    <div id="shipsMissing"></div>

    <div class="loading">
        <div class="prose">
            <h2><span>Guardian Outfitter</span></h2>
        </div>
        <div style="width: 100%; align-content: center; height: 100px;">
            <img src="~/Assets/img/meta/hourglass.svg" style="align-content: center; height: 50px; width: 100%">
            <p style="align-content: center; height: 50px; width: 100%; text-align: center;">Calculating your collection - please hold on...</p>
        </div>
    </div>

    <div class="advert js-advert">
        <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
    </div>
</section>
<!-- End: Shaders-->
<!-- Start: Sparrows-->
<section class="tab js-tab">
    <div class="prose">
        <h1><a id="sparrows" class="js-tab-heading">Sparrows</a>
        </h1>
    </div>
    <div id="sparrowsForSale"></div>
    <div id="sparrowsMissing"></div>

    <div class="loading">
        <div class="prose">
            <h2><span>Guardian Outfitter</span></h2>
        </div>
        <div style="width: 100%; align-content: center; height: 100px;">
            <img src="~/Assets/img/meta/hourglass.svg" style="align-content: center; height: 50px; width: 100%">
            <p style="align-content: center; height: 50px; width: 100%; text-align: center;">Calculating your collection - please hold on...</p>
        </div>
    </div>
    <div class="advert js-advert">
        <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins>
        </div>
    </div>
    <div id="#results">
        
    </div>
</section>
<!-- End: Sparrows-->
<div class="button-tabs button-tabs--bottom js-tab-controls"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-tab-button').click(getDetails);
    });

    var getDetails = function() {
        var type = $('#switcher').find('.is-active').html();
        $('.loading').show();

        $.ajax({
            url: '../api/Details/GetCollectionStatus/@ViewBag.Console?type=' + type,
            type: 'GET',
            cache: false,
            success: function(data) {
                ProcessResults(data);
            }
        });
    };
</script>




