

<h1>Authentication - Index</h1>

@*<a href="https://www.bungie.net/en/Application/Authorize/6871">Start Authentication</a>*@
<a href="https://www.bungie.net/en/Application/Authorize/11093">Start Authentication</a>