@using BungieWebClient
@using BungieWebClient.Model.Authentication

@{
    ViewBag.Title = "Guardian Outfitter";
}


<div class="content-center--centered">
    <div class="prose">
        <h1>Authentication Required</h1>
        <p>In order to use Guardian Outfitter, we need to read your Bungie.net account.</p>
        <p>We only require read access in order to view the results, we will not move any items at all.</p>
        <p>Click below to start and you will be redirected:</p>
        <p><a href="@ViewBag.BungieAuthURL" id="navigation" role="navigation" aria-label="Primary navigation" class="button">Start Authentication</a></p>
    </div>

    @if (ViewBag.Debug)
    {
        <p>AccessToken:</p> @ViewBag.AccessToken
        <p>RefreshToken:</p> @ViewBag.RefreshToken
    }
</div>