<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DestinyDailyEntities" connectionString="metadata=res://*/D1.DbEntities.csdl|res://*/D1.DbEntities.ssdl|res://*/D1.DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mattbeard1.database.windows.net;initial catalog=DestinyDaily;persist security info=True;user id=Matt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DestinyDaily2Entities" connectionString="metadata=res://*/D2.Destiny2Entities.csdl|res://*/D2.Destiny2Entities.ssdl|res://*/D2.Destiny2Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:mattbeard1.database.windows.net;initial catalog=DestinyDaily2;persist security info=True;user id=Matt;password=PASSWORD1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>